body {
  margin: 0;
  padding: 0;
  background: rgb(53, 82, 53);
  height: 100%;
}

#cuerpoCarta {
  padding: 0;
  width: 150px;
}
#fondo {
  height: 100%;
}
#numero {
  font-size: 50px;
}
#link {
  font-size: 10px;
}
